<div id="mycart" class="small-10 small-centered medium-8 large-8 column">

   <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
   
			<p><span class="cart-count"><%=current_user.del_cart%></span></p>
  
   </div>
